
body {
	margin: 0;
	padding: 0;
}

.chat-wrapper {
	display: flex;
	justify-content: center;
	height: 100vh;
}

	.chat {
		width: 100%;
		height: 100%;
		max-width: 1000px;
		display: flex;
	}

		.chat-sidebar {
			width: 25%;
			height: 100%;
			background: red;
		}

		.chat-content {
			height: 100%;
			flex-grow: 1;
			display :flex;
			flex-direction: column;
		}

			.chat-messages {
				flex-grow: 1;
				background: blue;
				display: flex;
				flex-direction: column;
			}

				.chat-messages-item {
					color: #fff;
					margin: 10px;
					padding: 5px 10px;
				}

				.chat-messages-input { background-color: black; }
				.chat-messages-output { background-color: grey; }

			.chat-input {
				height: 10%;
				background-color: grey;
				padding: 10px;
			}

				.chat-input-text {
					width: 100%;
				}

					.chat-input-text textarea {
						width: 100%;
						min-width: 100%;
						max-width: 100%;
						height: 25px;
						border: 0;
					}
